<div class="div1">
	<form action="/programacion/test1" method="get">
		<div class="menu_filter">
			<label for="grado">Grado:</label>
			<select id="grado" name="grado">
				<option disabled selected value> -- select an option -- </option>
				{% for grado in array_vars.grados %}
					{% if array_vars.grado_selected == grado.grado %}
						<option value="{{ grado.grado }}" selected>{{ grado.grado }}</option>
					{% else %}
						<option value="{{ grado.grado }}">{{ grado.grado }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="menu_filter">
			<label for="maestro_id">Maestro:</label>
			<select id="maestro_id" name="maestro_id">
			<option disabled selected value> -- select an option -- </option>
				{% for maestro in array_vars.maestros %}
					{% if array_vars.maestro_selected == maestro.id %}
						<option value="{{ maestro.id }}" selected>{{ maestro.nombre }}
							{{ maestro.apellido }}</option>
					{% else %}
						<option value="{{ maestro.id }}">{{ maestro.nombre }}
							{{ maestro.apellido }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="menu_filter">
			<input type="submit" value="Buscar"/>
		</div>
	</form>
</div>



<div class="div2">
	Alumnos:
		{% if array_vars.alumnos|length > 0 %}
			<table style="width:100%">
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Materias</th>
					<th>Grado</th>
					<th>Maestro</th>
				</tr>
			{% for alumno in array_vars.alumnos %}
				<tr>
					<td>{{ alumno.nombre }}</td>
					<td>{{ alumno.apellido }}</td>
					<td>
					{% for materias in alumno.materias %}
						<li>{{ materias }}</li>
					{% endfor %}
					</td>
					<td>{{ alumno.grado }}</td>
					<td>{{ alumno.maestro }}</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<li>No hay resultado</li>
		{% endif %}
</div>