{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">{{ form.name }}</div>
		<div class="col-sm-3">{{ form.lastname }}</div>
		<div class="col-sm-3">{{ form.dni }}</div>
		<div class="col-sm-3">{{ form.cuit }}</div>
		<div class="col-sm-3">{{ form.gender }}</div>
		<div class="col-sm-3">{{ form.country }}</div>
		<div class="col-sm-3">{{ form.birthday }}</div>
		<div class="col-sm-3">{{ form.email }}</div>
		<div class="col-sm-3">{{ form.adress }}</div>
		<div class="col-sm-3">{{ form.profile_image }}</div>
		<div class="col-sm-3">{{ form.file_cv }}</div>
		<div class="col-sm-3">{{ form.test_link }}</div>
		<div class="col-sm-3">{{ form.password }}</div>
		<div class="col-sm-3">{{ form.accept }}</div>
		<div class="col-sm-3">{{ form.comment }}</div>

	</div>
	<div class="row">
		<div class="col-sm-12">{{ form.submit }}</div>
	</div>

	{{ form.meses }}
	{# Don't forget to add printing form special info at the end.
		    Without this data form will not working propertly.
		    #}
	{{ form.form_build_id }}
	{{ form.form_token }}
	{{ form.form_id }}
</div>
